<%= form_with(model: funastar, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if funastar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funastar.errors.count, "error") %> prohibited this funastar from being saved:</h2>

      <ul>
      <% funastar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(@funastar.image.url) if @funastar.image.url %>
    <%= form.file_field :image, id: :funastar_image %>
  </div>


  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption, id: :funastar_caption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
