
<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @funastar.image %></p>
<p>内容: <%= @funastar.caption %></p>

<% unless @funastar.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(funastar_id: @funastar.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_funastar_path(@funastar) %> |
<%= link_to 'Back', funastars_path %>
