<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @funastar.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @funastar.caption %>
</p>

<%= link_to 'Edit', edit_funastar_path(@funastar) %> |
<%= link_to 'Back', funastars_path %>
